const TASKS = ${tasks}
const MONITOR_NAME="${monitorName}"
const MONITOR_ID="${monitorId}"
const NAMESPACE ="${nameSpace}"     // metric details re prefixed with this
let INSERT_KEY=$secure.${insertKeyName}
let QUERY_KEY=$secure.${queryKeyName}
// End of terraform

